:root {
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;
    --body-color: #ffffff;
}
    
body {
    font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
    color: var(--color-slate);
    background-color: var(--body-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.header{
    background-color: var(--color-white);
}

.header-logo{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-iris);
text-decoration: none;

}

.header-logo span{ 
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-grey);
}

.nav-items{
	list-style: none;
}
.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-navy-blue);
text-decoration:none;
}

.address{
	font-style: normal;
	letter-spacing: 0.02;
}

 
.address-link:hover,
.address-link:focus {
color: var(--color-ocean);
}

.nav-link:hover,
.nav-link:focus {
color: var(--color-ocean);
}

.hero {
    background-color: var(--color-grey);
	font-style: normal;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
color: var(--body-color);
}

.hero-header{
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
}
.header-button{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--body-color);
	background: var(--color-iris);
	cursor: pointer;
	}

.header-button:hover,
.header-button:focus {
  background-color: var(--color-ocean);
  color: var(--body-color);
}

.address-link{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #434455;
	}
	  
.feature-header{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--color-navy-blue);
}

.items-header{
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
background-color: var(--color-cloud);
}


.section-team{
	background-color: #F4F4FD;
}


.crew-item{
	background-color: #FFFFFF;
}

.servises-name{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02;
	color: var(--color-slate);
}

.portfolio-desk{
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--color-slate);
	text-decoration: none;
}

.crew-list{
	background-color: #FFFFFF;
}

.item-header{
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-navy-blue);
background-color: var(--color-cloud);
}

.crew-name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-navy-blue);
background-color: #FFFFFF;
}


.footer-logo{
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-grey);
	}

	.footer-logo span{ 
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-iris);
	}

.footer{
	background-color:#2e2f42;
}
.footer-logo{
	color: #4d5ae5;
	text-decoration: none;
}
.footer-logo span{
	color: #f4f4fd;
}


.footer-text{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #F4F4FD;
	}


/* Portfolio */

	.button-clasik{
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.04em;
		color: var(--color-iris);
		background-color: var(--color-cloud);
		cursor: pointer;
	}


.list{
	list-style: none;
}

	.button-clasik:hover,
	.button-clasik:focus {
	  background-color: var(--color-ocean);
	  color: var(--body-color);
	}

.filter-button{
	list-style: none;
	
}
.filter-item{
	text-decoration: none;
}


.servises-name{
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--color-navy-blue);
	letter-spacing: 0.02em;

}
.portfolio-desk{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: var(--color-slate);
}
.list-service{
	text-decoration: none;
}
.footer{
	background-color:#2e2f42;
}
.footer-logo{
	color: #4d5ae5;
	text-decoration: none;
}
.footer-logo span{
	color: #f4f4fd;
}